@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
/* font */
/* color */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px; }

body {
  font-family: "Ubuntu", sans-serif;
  background: #c9d6ff;
  background: -webkit-linear-gradient(to bottom, #f1f2f6, #c9d6ff);
  background: linear-gradient(to bottom, #f1f2f6, #c9d6ff);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #2c3a47; }

a {
  color: #82589f;
  text-decoration: none;
  border-bottom: 1px dashed #82589f; }
  a:hover {
    color: #f97f51;
    border-color: #f97f51; }

i {
  margin-right: 0.5em; }

.header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2em; }
  .header h2 {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px 50px;
    background-color: #82589f;
    color: #f1f2f6;
    padding: 0.3em 0.8em;
    font-size: 3em;
    font-weight: bold; }
  .header span {
    margin-left: 0.5em;
    font-size: 1.5em; }
  .header a {
    font-size: 1em; }

.container {
  width: 700px;
  padding: 2em;
  background-color: #f1f2f6;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 3fr 2fr; }

.theme {
  background-color: black; }
  .theme img {
    width: 100%;
    height: 100%; }

.weather {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.temp-icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .temp-icon .temp {
    font-size: 3.5em;
    font-weight: bold;
    margin-right: 0.5em; }
  .temp-icon img {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 60px;
    height: 60px; }
