@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

/* font */

$base-font: "Ubuntu", sans-serif;

/* color */

$background-color: #c9d6ff;
$black: #2c3a47;
$white: #f1f2f6;
$purple: #82589f;
$orange: #f97f51;
